<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="yong.board.mapper.MemberMapper">

    <select id="selectMemberList" resultType="MemberVo">
        SELECT id, username,auth, substring(regDate,1,10) AS regDate, age
        FROM user_list

    </select>

    <select id="selectMember" resultType="MemberVo" parameterType="String">
        SELECT * FROM user_list
        where id = #{userId}
    </select>

    <update id="updatePw" parameterType="MemberVo">
        update user_list SET password = #{password},regDate = NOW() where id = #{id};
    </update>

    <delete id="deleteMember" parameterType="MemberVo">
        delete from user_list where id = #{id};
    </delete>

    <delete id="boardDelete" parameterType="MemberVo">
        DELETE FROM list WHERE writer = #{id}
    </delete>

    <delete id="commentDelete" parameterType="MemberVo">
        DELETE FROM comment WHERE writer = #{id}
    </delete>

    <delete id="recommendtDelete" parameterType="MemberVo">
        DELETE FROM recommend WHERE id = #{id}
    </delete>

    <select id="selectCommentList" parameterType="String" resultType="MemberVo">
        select a.bno as bno, a.subject as subject, a.writer as writer, substring(b.content,1,5) as content,
               substring(b.regDate,1,16) as regDate from list a, comment b where a.bno = b.bno and b.writer = #{id};
    </select>

    <select id="pwSchedule" parameterType="String" resultType="String">
        select regDate from user_list where id = #{id};
    </select>

</mapper>


