<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




<head th:replace="mainheader.html :: mainHead">
</head>

<script type="text/javascript">
    let sessionAuth =  "";
    let sessionId =  "";

    window.onload = function () {


        sessionAuth = document.getElementById("auth").innerText;
        sessionId = document.getElementById("id").innerText;

    }

    function locationFind(){
        var keyword1 = $('#keyword').val();

        if (keyword1 == ""){
            window.alert("지역 검색을 입력해주세요.");
        }

        else
            $.ajax({
                url: "/api/v1/locations/"+keyword1,
                type: "GET",
                dataType: 'json',
                data: { auth: sessionAuth,
                    id: sessionId,
                    keyword: keyword1
                },
                success: function (data) {
                    getLocationList(data);

                }, error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });

    }


    function getLocationList(data) {

        var table = $('#locationTable').dataTable({
            aaData: data,
            dom : 'Bfrtip',
            pageLength: 12,
            bPaginate: true,
            bLengthChange: true,
            lengthMenu : [ [ 3, 5, 10, -1 ], [ 3, 5, 10, "All" ] ],
            bInfo: false,
            bAutoWidth: false,
            processing: true,
            ordering: true,
            serverSide: false,
            searching: true,
            destroy: true,
            columns: [
                {data: "category"},
                {data: "title"},
                {data: "link",
                    "render": function(data, type, row){
                        if(type == 'display')
                            return '<a href="' + data + '">' + data + '</a>';
                        else
                            return data;
                    }},
                {data: "roadAddress"}

            ],
            buttons: [
                'excel'
            ]

        });

    }


</script>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="sidemenu.html :: side_menu"></div>


    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <div th:insert="topmenu.html :: top_menu"></div>



            <!-- Begin Page Content -->
            <div class="container-fluid">


                <div class="col-md-12">
                    <h1>지역 검색</h1>
                    <div class="col-md-3" style="display: -webkit-box">
                        <input class ="form-control" id="keyword" placeholder="지역을 입력하세요."
                                       onKeyPress="if (event.keyCode==13){locationFind();}">
                        <button type="button" style="margin-left: 5px" class="btn btn-primary" id="btn-movies-find" onclick="locationFind()">검색</button>
                    </div>
                </div>

                <div class="row" style="margin-top: 30px">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2" >
                                    <span id="auth" th:text="${session['auth']}" hidden="true"> </span>
                                    <span id="id" th:text="${session['id']}" hidden="true"> </span>
                                    <div class="table-responsive" style="overflow:auto; ">
                                        <table class="table table-bordered" id="locationTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>
                                                <th>Category</th>
                                                <th>이름</th>
                                                <th>링크</th>
                                                <th>도로명 주소</th>
                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <footer th:replace="mainfooter.html :: footer"></footer>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>


    </div>


</div>

</body>



</html>