<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="side_menu">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">

            <div class="sidebar-brand-text mx-3" style="font-size: 21px; color: lightgreen;">게시판 커뮤니티</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/main">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>자유 게시판</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/main">
                <i class="fas fa-fw fa-question"></i>
                <span>비밀 게시판</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/memberInfo">
                <i class="fas fa-fw fa-user"></i>
                <span>회원정보</span></a>
        </li>




        <!--<li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/cost">
                <i class="fas fa-fw fa-money-check"></i>
                <span th:text="#{label.costmanagement}"> </span></a>
        </li>


        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span th:text="#{label.resourcemanagement}"></span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/resource" th:text="#{label.resourcemanagement}"></a>
                    <a class="collapse-item" href="/productlist">보유리소스관리</a>
                </div>
            </div>
        </li>-->

<!--        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/resource">
                <i class="fas fa-fw fa-chart-pie"></i>
                <span  th:text="#{label.resourcemanagement}"></span></a>
        </li>

        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/productlist">
                <i class="fas fa-fw fa-list"></i>
                <span >보유리소스정보</span></a>
        </li>-->


        <!-- Nav Item - Utilities Collapse Menu -->

        <!--<li class="nav-item active">
            <a class="nav-link" href="/list">
                <i class="fas fa-fw fa-question"></i>
                <span>Q&A</span></a>
        </li>-->

       <!-- <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/product">
                <i class="fas fa-fw fa-plus"></i>
                <span>제품추가</span></a>
        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>

</div>



</html>