<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="side_menu">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">

            <div class="sidebar-brand-text mx-3" style="font-size: 21px; color: lightgreen;">통합 게시판 커뮤니티</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/main">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>자유 게시판</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/movie">
                <i class="fas fa-fw fa-video"></i>
                <span>영화 검색</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/record">
                <i class="fas fa-fw fa-thumbs-up"></i>
                <span>기록</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/member">
                <i class="fas fa-fw fa-user"></i>
                <span>회원정보</span></a>
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>

</div>



</html>